<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @event.details %>
</p>

<p>
  <strong>When:</strong>
  <%= @event.when %>
</p>

<p>
  <strong>Where:</strong>
  <%= @event.where %>
</p>

<!-- <p>
  <strong>Uid:</strong>
  <%#= @event.uid %>
</p>

<p>
  <strong>User response:</strong>
  <%#= @event.user_response %>
</p> -->

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
